body {
    margin: 0;
    padding: 0;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .logo {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }

  .navHeader ul li {
    display: inline-block;
    font-size: 0.85rem;
  }
  
  .navHeader a {
    color: #3d3d5c;
    text-decoration: none;
    text-transform: capitalize;
    padding: 0.4rem;
  }
  
  nav {
    text-align: right;
    margin-right: 1rem;
  }
  
  button#signIn {
    font-size: 1rem;
    background-color: blue;
    padding: 0.4rem;
    width: 95px;
    color: white;
    border-radius: 6px;
    border: none;
    cursor: pointer;
  }
  
  a:hover {
    text-decoration: underline;
  }

  input {
    text-indent: 3rem;
    width: 46vw;
    height: 3rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid lightgray;
    margin: auto;
    display: block;
    font-size: medium;
  }
  
  input:hover {
    border: 2px solid lightgray;
  }
  
  input:focus {
    outline: none;
  }
  
  .searchBox {
    margin: 2% auto;
    width: 50vw;
  }
  
  .searchbar .i {
    position: absolute;
    margin-top: 0.9rem;
    margin-left: 3%;
    width: 1.5rem;
  }
  
  .mic {
    width: 1rem;
    position: absolute;
    left: 71vw;
    margin-top: 0.8rem;
  }
  
  .buttons {
    display: flex;
    justify-content: center;
  }

  .links {
    height: 2rem;
    border: none;
    margin: 1em 0.5em;
    background-color: #f5f5f0;
    font-size: 0.9rem;
    cursor: pointer;
    font-weight: 100;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

    
  .links:hover {
    border: 1px solid lightgray;
  }

  .flexLeft {
    width: 33vw;
    display: inline-block;
  }
  
  .flexRight {
    width: 24vw;
    display: inline-block;
    position: relative;
    left: 40%;
  }
  
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid gray;
  }
  
  .flexLeft ul {
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;
    justify-content: space-around;
  }
  
  .flexLeft a {
    text-decoration: none;
    font-size: 0.97rem;
    color: gray;
  }
  
  .flexLeft a:hover {
    text-decoration: underline;
  }
  
  .flexRight ul {
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;
    justify-content: space-around;
    margin: 1rem;
  }
  
  .flexRight a {
    text-decoration: none;
    font-size: 0.97rem;
    color: gray;
  }
  
  .flexRight a:hover {
    text-decoration: underline;
  }
  
  .Country {
    color: grey;
    font-weight: 100;
    font-size: 0.97rem;
    position: absolute;
    top: 84vh;
    background-color: #f5f5f0;
    width: 100%;
    bottom: 0;
  }
  
  #country {
    margin-left: 2rem;
  }


  @media (max-width: 1120px) {
    .flexLeft {
      width: 50%;
    }
    .flexRight {
      left: 0;
      width: 44%;
    }
  }
  
  @media (max-width: 744px) {
    .flexLeft,
    .flexRight {
      display: block;
      width: 100%;
    }
  }
  
  @media (max-width: 843px) {
    input {
      width: 76vw;
    }
  
    .searchBox {
      width: 100%;
    }
  
    .mic {
      left: 83vw;
    }
  
    .searchbar .i {
      margin-left: 14%;
    }
      
          .flexLeft ul a,.flexRight ul a {
        font-size: 0.73rem;

    }

  footer {
    background-color: #f5f5f0;
  }

    .Country {
        display: none;
    }

       body {
          
          overflow: auto;
   }
      
  }
  

  
