body {
    margin: 0;
    padding: 0;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .logo {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
  .navHeader ul li {
    display: inline-block;
    font-size: 0.85rem;
  }
  
  .navHeader a {
    color: #3d3d5c;
    text-decoration: none;
    text-transform: capitalize;
    padding: 0.4rem;
  }
  
  nav {
    text-align: right;
    margin-right: 1rem;
  }
  
  button#signIn {
    font-size: 1rem;
    background-color: blue;
    padding: 0.4rem;
    width: 95px;
    color: white;
    border-radius: 6px;
    border: none;
    cursor: pointer;
  }
  
  a:hover {
    text-decoration: underline;
  }


  input {
    text-indent: 3rem;
    width: 46vw;
    height: 3rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid lightgray;
    margin: auto;
    display: block;
  }
  
  input:hover {
    border: 2px solid lightgray;
  }
  
  input:focus {
    outline: none;
  }
  
  .searchBox {
    margin: 2% auto;
    width: 50vw;
  }
  
  .searchbar .i {
    position: absolute;
    margin-top: 0.9rem;
    margin-left: 2rem;
    width: 1.5rem;
  }
  
  .mic {
    width: 1rem;
    position: absolute;
    left: 71vw;
    margin-top: 0.8rem;
  }
  
  .buttons {
    display: flex;
    justify-content: center;
  }
  .links {
    height: 2rem;
    border: none;
    margin: 1em 0.5em;
    background-color: #f5f5f0;
    font-size: 0.9rem;
    cursor: pointer;
    font-weight: 100;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

    
  .links:hover {
    border: 1px solid lightgray;
  }
  
